<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<title> Luiz Fernando Medeiros  </title>
	<link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
	
	<style>
		{{css}}
	</style>
	
	
</head>
<body>
	
	
	<div id="main">
		{% block body %}
			<p> Nothing has been defined yet;</p>
			
		{% endblock %}
		
	</div>
	<div>
		{{linkBar}}
	</div>
	
	
	<!--  Loading libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	
</body>
</html>