{% extends "master.html"%}

	{% include 'header.html' %}
	{% include 'loginDiv.html' %}
{% block body %}
<div id="about" >
	<h1>TrekTip</h1>
	
	<p>We believe there is a need for a product that empowers people to provide feedback on
	venues and events within any given region.
	<p> Furthermore, we believe this information should be presented in a simple interface such that the information
	is relevant and immediately consumable. </p>
	
	<p>TrekTip provides a platform that is focused on Places, Attractions, and User Experience.
	Information is expanded and maintained by communities, local experts, venue staff and event managers.</p>
	
	<p>TrekTip motivates and inspires communities to travel, visit and share.</p>
	

</div>

{% endblock %}