<p>Click the button to trigger a function that will output "Hello World" in a p element with id="demo".</p>

<button onclick="myFunction()">Click me</button>

<p id="demo"></p>
<input name="userName" type="hidden" value="nothing">
<button onclick= "logOut()" name="logOutButton" >Log Out </button>


<script>
function myFunction() {
    document.getElementById("demo").innerHTML = "Hello World";

}
function logOut()
{
 document.getElementsByName("userName")[0].value="something";
 document.getElementById("demo").innerHTML =document.getElementsByName("userName")[0].value;
}
</script>